<aside class="site-sidebar menu">
  <div class="site-sidebar-top">
    <div class="site-sidebar-top-content">
      <% if (theme.adsense){ %>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- sidebar-head -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:293px;height:221px;max-width:100%;max-height:100%;"
             data-ad-client="<%= theme.adsense %>"
             data-ad-slot="5077350487">
        </ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      <% } %>
    </div>
  </div>
  <%
    function getHref ({ el, href }) {
      return href || `#${el.id}`
    }

    function renderSubMenus (blocks) {
      if (blocks.length <= 0) return
      %>
        <ul>
      <%
        for (const block of blocks) {
          %>
            <li>
              <a href="<%= getHref(block) %>"><%= getHeaderText(block.el) %></a>
            </li>
          <%
        }
      %>
        </ul>
      <%
    }

    function renderMenus (blocks) {
      if (blocks.length <= 0) return
      %>
        <ul class="menu-list">
      <%
        for (const block of blocks) {
          %>
            <li>
              <a href="<%= getHref(block) %>"><%= getHeaderText(block.el) %></a>
              <%
                renderSubMenus(block.children)
              %>
            </li>
          <%
        }
      %>
        </ul>
      <%
    }

    function renderLabels (blocks) {
      for (const block of blocks) {
        %>
          <div>
            <a href="<%= getHref(block) %>" class="menu-label"><%= getHeaderText(block.el) %></a>
          </div>
          <%
            renderMenus(block.children)
          %>
        <%
      }
    }

    if (blocks.length > 0) {
      if (maxLevel >= 3) {
        renderLabels(blocks)
      } else {
        renderMenus(blocks)
      }
    }
  %>
</aside>
