<% const dom = get_dom() %>
<%- partial('_partial/head', { dom }) %>
<body>
  <%- partial('_partial/navbar') %>
  <% if (page.sidebar !== false) { %>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column"><%- partial('_partial/sidebar', { dom }) %></div>
          <div class="column is-three-quarters"><%- body %></div>
        </div>
      </div>
    </section>
  <% } else if (page.home) { %>
    <%- body %>
  <% } else { %>
    <section class="section">
      <%- body %>
    </section>
  <% } %>
  <%- partial('_partial/footer') %>
</body>
</html>
