<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/navbar') %>
  <% if (page.sidebar !== false) { %>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column site-sidebar-wrap is-hidden-touch">
            <section class="section pt-0">
              <%- partial('_partial/sidebar') %>
            </section>
          </div>
          <div class="column is-three-quarters">
            <section class="section pt-0">
              <%- body %>
            </section>
          </div>
        </div>
      </div>
    </section>
  <% } else if (page.home) { %>
    <%- body %>
  <% } else { %>
    <section class="section">
      <%- body %>
    </section>
  <% } %>
  <%- partial('_partial/footer') %>
</body>
</html>
